.promo {
    height: 30%;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.promo--image,
.promo--image-crash {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: inherit;
    height: 100%;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promo--image {
    border: solid 1px #eeeeee;
    background-color: #eeeeee;
}

.promo--image-crash {
    border: solid 1px #f76e11;
    background-color: #f76e11;
}

.promo--image--text {
    position: absolute;
    left: -40px;
    bottom: -40px;
    color: #000;
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.313em 0.938em rgb(0 0 0 / 50%);
}

.promo--image--text--crash {
    padding: 2rem 1rem;
    text-align: center;
}
.promo--image--text--crash {
    color: white;
}

@media (max-width: 960px) {
    .promo {
        height: 400px;
    }

    .promo--image--text {
        left: 0;
    }
}
